{% extends 'base.html' %}

{% block body %}
  <header>
    <h1>EDIT</h1>
  </header>
  <hr>
  <section>
    <form action="{% url 'movies:update' movie.pk %}" method="POST">
      {% csrf_token %}
      <label for="title" class="form-label">TITLE: </label>
      <input class="form-control" type="text" id="title" name="title" value="{{ movie.title }}">
      <label for="audience" class="form-label">AUDIENCE: </label>
      <input class="form-control" type="number" min="0" id="audience" name="audience" value={{ movie.audience }}>
      <label for="release_date" class="form-label">RELEASE_DATE: </label>
      <input class="form-control" type="date" id="release_date" name="release_date" value={{ movie.release_date|date:"Y-m-d" }}>
      <label for="genre" class="form-label">GENRE: </label>
      <select class="form-control" name="genre" id="genre">
        {% for genre in genres %}
          <option value="{{ genre }}" {% if genre == movie.genre %}selected{% endif %}>{{ genre }}</option>
        {% endfor %}
        {% comment %} <option value="코미디">코미디</option>
        <option value="로맨스">로맨스</option>
        <option value="공포">공포</option> {% endcomment %}
      </select>
      <label for="score" class="form-label">SCORE: </label>
      <input class="form-control" type="number" min="0" max="5" step="0.1" id="score" name="score" value={{ movie.score }}>
      <label for="poster_url" class="form-label">POSTER_URL: </label>
      <input class="form-control" type="text" id="poster_url" name="poster_url" value={{ movie.poster_url }}>
      <label for="description" class="form-label">DESCRIPTION: </label>
      {% comment %} <input class="form-control" type="text" id="description" name="description" value={{ movie.description }}> {% endcomment %}
      <textarea class="form-control" name="description" id="discription" cols="30" rows="10">{{ movie.description }}</textarea>
      <br>
      <button type="submit">제출</button>
    </form>
  </section>
  <hr>
  <footer>
    <div>
      <button type="button"><a href="{% url 'movies:edit' movie.pk %}">RESET</a></button>
    </div>
    <div>
      <button type="button"><a href="{% url 'movies:detail' movie.pk %}">BACK</a></button>  
    </div>
  </footer>
{% endblock body %}